{% extends "model-page.html" %}

{% block content %}

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p></p>
						<h2>Turismo Joinville</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<p></p>
								<h2>Sobre Nós</h2>
							</header>
							<p>Somos estudantes do curso de Sistemas de Informação da Universidade Unisociesc, e esse foi o projeto para o segundo semestre de 2020, onde visamos trazer informações dos principais pontos turísticos de Joinville e região, como forma de demonstrar os conhecimentos adquiridos durante o curso e a integração de sistemas por nós desenvolvido.</p>

							<p>Tentamos criar uma forma em que cada usuário, devidamente cadastrado, para que possamos identificar de onde vem o comentário, mas de forma anônima, possa nos ajudar ou a quem gostaria de conhecer os locais com informações dos próprios visitantes, de forma que ao compartilhar essa informação podemos verificar qual local agrada cada tipo.</p>

							<p>Somos o grupo 7, e se você gostaria de conhecer cada participante desse projeto visite a aba time.</p>

							<p>Obrigado.</p>
						</div>
					</div>
				</div>
			</section>

{% endblock %}